body {
    font-family: sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 4vw;
    line-height: 4vw;
  }

  .maincontainer {
      width: 100vw;
      height: 100vh;
      margin: auto;

      display: grid;
      grid-template-areas:
      "head head"
      "col-left  col-right"
      "foot  foot";
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
  
  .header {
    grid-area: head;
  }

  .maincontainer {
      font-size: 4em;
      box-shadow: inset 0px -34px 0px -4px #EFFF2B;
  }

@media screen and (max-width: 767px) {
    body {
      background-color: white;
    }
  }
  
  /* Tablet Styles */
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    body {
      background-color: white;
    }
  }
  